<?xml version="1.0" encoding="UTF-8"?>
<widget xml:lang="en"
	id="HelloWorld" xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.0">  
    <name>Hello World</name>
    <author>Noctivagan</author>
    <description>Hello World location display</description>
    <icon src="images/icon.png"/>
    <content src="index.html"/>
    <feature id="blackberry.identity" />
    <rim:permissions>  
        <rim:permit>access_location_services</rim:permit>
        <rim:permit>read_device_identifying_information</rim:permit>
        <rim:permit>post_notification</rim:permit>
    </rim:permissions>    
</widget>